h1 {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}

.navbar {
  padding: 20px;
  margin-bottom: 20px;
  background: #9307ff;
  color: #ffff;
  display: flex;
  justify-content: space-between;
}

.navbar .create {
  color: #ffff;
  font-size: 1.5rem;
}

.navbar .navbar-brand {
  color: #ffff;
  font-size: 2rem;
}

.navbar-brand:hover, .create:hover {
  color: #fff6;
}

.form-container {
  width: 400px;
  margin: 20px auto;
}

.person-container {
  text-align: left;
  margin-top: 20px;
}

.people-container {
  text-align: center;
  margin-top: 20px;
}

.grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
